.button {
  display: block;
  box-sizing: border-box;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  .oswald-400();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 280px;
  text-decoration: none;
  padding: 7px 44px;
  text-align: center;
}
