.button {
  display: block;
  box-sizing: border-box;
  background-color: #68b738;
  color: #ffffff;
  border: none;
  .oswald-400();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 280px;
  text-decoration: none;
  padding: 10px 44px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #ffffff30;
  }

  &.button--introduction {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 44px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 15px 27px;
    }

    @media (min-width: @desktop-width) {
      padding: 17px 27px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 26px;
    min-width: 240px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 28px;
    min-width: 168px;
  }
}

.button--desktop {
  @media (min-width: @desktop-width) {
    padding: 13px 188px;
  }
}

.button--form {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.button--catalog-grey {
  color: #000000;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: #44444430;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}

