.checkbox {
  border: none;
  margin: 0;
  padding: 0 20px 34px;

  @media (min-width: @tablet-width) {
    padding: 0 37px 72px 41px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 82px;
  }
}

.checkbox__legend {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 34px;
  grid-column: 1/-1;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 340px 340px;
    column-gap: 8px;
    row-gap: 32px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    column-gap: 104px;
    margin-bottom: 61px;
  }
}
