.checkbox {
  border: none;
  margin: 0;
  padding: 0 20px 34px;
}

.checkbox__legend {
  margin-bottom: 34px;
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
