.comment {
  border: none;
}

.comment__legend {
  margin-bottom: 38px;
}

.comment__area {
  box-sizing: border-box;
  width: 100%;
  .oswald-400();
  size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border: 1px solid #e7e7e7;
  min-height: 150px;
}
