.contacts--grey {
  background-color: #f2f2f2;
}

.contacts__title {
  .oswald-400();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__text {
  .arial-400();
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-transform: none;
  margin: 0;
}
