.example {
  background-color: #eaeaea;
}

.example__container {
  padding: 25px 20px 40px;
}

.example__title {
  margin: 0 0 40px;
  .oswald-400();
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin: 0 0 20px;
  .arial-400();
  font-size: 14px;
  line-height: 18px;
}

.example__result-container {
  display: flex;
  justify-content: space-between;
}

.example__result {
  width: 124px;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  margin-bottom: 34px;
}

.example__data {
  .oswald-400();
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 14px auto 18px;
  text-align: center;
}

.example__description {
  position: absolute;
  right: 24px;
  bottom: -14px;
  width: 78px;
  .arial-400();
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  background-color: #eaeaea;
}

.example__summary {
  .oswald-400();
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}
