.main-container__extras {
  margin: 0 20px;
}

.extras__title {
  .oswald-400();
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 36px;
  border-bottom: 1px solid #d9d9d9;
}

.extras__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.extras-card {
  padding: 13px 0 19px;
  border-bottom: 1px solid #d9d9d9;
}

.extras-card__title {
  margin: 0 0 13px;
  .oswald-400();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extras-card__properties {
  .arial-400();
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
