.legend {
  .oswald-400();
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}

.form__fieldset {
  box-sizing: border-box;
  .oswald-400();
  font-size: 16px;
  line-height: 18px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  padding: 27px 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.form__title {
  .oswald-400();
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;
}

.form__description {
  .oswald-400();
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 39px;
  text-transform: uppercase;
}

.form__input-container {
  display: flex;
  gap: 13px;
  text-transform: uppercase;
  align-items: center;
}

.label {
  .oswald-400();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.input {
  flex-grow: 1;
  padding: 14px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  .oswald-400();
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  &::placeholder {
    .oswald-400();
    font-size: 16px;
    line-height: 18px;
    color: #000000;
  }
}

.form__comment {
  display: block;
  .arial-400();
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
