.form__fieldset-radio-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 69px;
  }
}

.form__fieldset {
  box-sizing: border-box;
  .oswald-400();
  font-size: 16px;
  line-height: 18px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  padding: 27px 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 65px 37px 71px 41px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
    padding: 74px 0 0;
  }
}

.form__title {
  .oswald-400();
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 66px 0;
  }
}

.form__description {
  .oswald-400();
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 39px 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 0;
  }
}

.form__radio-area {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 41px 71px 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    align-self: flex-end;
  }
}

.form__owner-data {
  box-sizing: border-box;
  width: 280px;
  border: none;
  margin: 0 auto;
  padding: 26px 0 25px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 37px 65px 41px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 0 69px;
  }
}

.form__comment {
  margin: 0 auto 23px;

  @media (min-width: @tablet-width) {
    margin: 0 auto 65px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto 67px;
  }
}

.form__input-container {
  display: flex;
  gap: 13px;
  text-transform: uppercase;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form__checkbox-area {
  margin: 0 auto;
}

.form__button {
  margin: 0 0 28px;

  @media (min-width: @tablet-width) {
    width: 282px;
    margin: 0;
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    grid-column: 1/2;
  }
}

.form__remark {
  .arial-400();
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0 auto 32px;

  @media (min-width: @tablet-width) {
    align-self: center;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    padding: 0;
    margin: 0;
    grid-column: 2/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}
