.main-footer {
  background-color: #f2f2f2;
}

.main-footer__footer-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 58px 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 57px 0 58px;
  }
}

.main-footer__logo-container {
  padding: 39px 75px 32px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 75px 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-footer__developer {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}
