.main-navigation__toggle {
  min-width: 24px;
  min-height: 38px;
  background-image: url("../../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
}

.main-navigation__container {
  display: none;
  position: absolute;
  top: 55px;
  left: -276px;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}
