.main-header__main-navigation {
  position: relative;
}

.main-header__logo {
  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }
}

.main-header__text-logo {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}
