.more-results {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.more-results__title {
  margin: 0 0 8px;
  .oswald-400();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.more-results__text {
  margin: 0 0 21px;
  .arial-400();
  font-size: 12px;
  line-height: 16px;
}
