.owner-data {
  border: none;
  margin: 0;
  padding: 26px 20px 0;
}

.owner-data__legend {
  margin-bottom: 35px;
}

.owner-data__container {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 14px;
}
